// ==========================================================================
// Hero
// ==========================================================================

.hero {
	height: 335px;
	background: url('[URL=http://s12.photobucket.com/user/JackPeff/media/Wallstreet_zpsigec0hka.jpg.html][IMG]http://i12.photobucket.com/albums/a206/JackPeff/Wallstreet_zpsigec0hka.jpg[/IMG][/URL]'),
	            linear-gradient(#75da8f, #77cae9);
	background-blend-mode: multiply;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: em(50px);
}
