// ==========================================================================
// Hero
// ==========================================================================

.hero {
	height: 400px;
	background: url('http://i12.photobucket.com/albums/a206/JackPeff/2008-04-Charging-Bull-low-700_zps3sgdhlq3.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: em(50px);
}
